* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background: rgb(27, 27, 27);
  padding: 20px;
  color: white;
  display: flex;
  min-width: 100vw;
}

.brand {
  width: 80%;
}

.nav-list {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.nav-list li button {
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.nav-list li button.add-user {
  background: rgb(81, 243, 129);
}

.nav-list > li > button.exit {
  background: rgb(255, 84, 84);
}

main {
  width: 100vw;
  padding: 20px;
  background: rgb(240, 240, 240);
  height: 100vh;
}

.office-select {
  position: relative;
  top: 20px;
  margin-bottom: 30px;
}

select {
  padding: 05px;
  border: none;
  width: 100%;
  border-bottom: 2px solid rgb(3, 242, 250);
  margin-top: 15px;
}

section:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin-top: 50px;
}

thead tr {
  border: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}

td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}

.Admin {
  background: rgb(180, 180, 180);
}

.User {
  background: rgb(51, 236, 144);
}
/* 
.change-role-column {
  background: grey;
  color: white;
}

.activate-column {
  background: limegreen;
  color: white;
} */

.change-role {
  padding: 5px;
  background: grey;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.activate {
  padding: 5px;
  background: limegreen;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
